@use "../../../styles/mixins/content-width.module" as *;

.header {
  @include content-width();

  align-items: center;
  display: flex;
  height: var(--header-height);
  justify-content: space-between;
  margin: 0 auto;
  padding-top: 10px;
}

%logo {
  width: 150px;
}

.white {
  @extend %logo;

  color: white;
}

.black {
  @extend %logo;

  color: black;
}
