@use "../Forms/Buttons.module" as *;

.section {
  background-color: var(--primary-color-lite);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 40px 0;
}

.button {
  @extend %primary;

  width: 200px;
}
