%button {
  border-radius: 4px;
  cursor: pointer;
  height: 40px;
  font-weight: bold;
}

%primary {
  @extend %button;

  background-color: var(--primary-color);
  border: 1px solid var(--primary-color);
  color: white;
  min-width: 200px;

  &:hover {
    background-color: var(--primary-color-hover);
    border: 1px solid var(--primary-color-hover);
  }
}

%secondary {
  @extend %button;

  background-color: var(--secondary-color);
  border: 1px solid var(--secondary-color);
  color: white;
  min-width: 200px;

  &:hover {
    background-color: var(--secondary-color-hover);
    border: 1px solid var(--secondary-color-hover);
  }
}
