.nav {
  display: flex;
  gap: 40px;
}

.link {
  color: var(--text-color);
  text-decoration: none;

  &:hover {
    color: var(--text-color);
    opacity: 0.6;
  }

  &.home {
    color: #fff;

    &:hover {
      color: #fff;
      opacity: 0.6;
    }
  }
}
