@use "../../../styles/mixins/content-width.module" as *;
@use "../Forms/Buttons.module.scss" as *;

.container {
  @include content-width();

  padding: 4rem 2rem;
  margin: 0 auto;
  text-align: center;
}

.link {
  @extend %primary;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  height: auto;
  width: 100%;
}

.title {
  font-size: 2rem;
  margin-bottom: 0;
  font-weight: 600;
}

.subtitle {
  margin-bottom: 20px;
  margin-top: 0;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 1rem;
  margin: 0 auto;
}

.item {
  position: relative;
  overflow: hidden;
  aspect-ratio: 1;
  border-radius: 4px;
  transition: transform 0.3s ease;

  &:hover {
    transform: scale(1.03);
  }
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media (max-width: 768px) {
  .container {
    padding: 3rem 1rem;
  }

  .grid {
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  }
}
